<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RepositoryType" value="Mock"/>
    <add key="CSVFileName" value="C:\TestCSVData.csv"/>
  </appSettings>
  <connectionStrings>
    <add name="OnlineAddressBookDbConnection"
         providerName="System.Data.SqlClient"
        connectionString="Data Source=localhost;Initial Catalog=MySQLServerDB; Integrated Security=true" />
  </connectionStrings>
</configuration>